# The following values can be obtained by logging into the Twilio Console and selecting the Authy section
#
# https://www.twilio.com/console

ENV["AUTHY_INTEGRATION_API_KEY"] = "YOUR_INTEGRATION_API_KEY"
ENV["APP_ID"] = "YOUR_APP_ID"
ENV["ACCOUNT_SID"] = "YOUR_ACCOUNT_SEED"